@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
}

@media screen and (max-width: 799px) {
    .sidebar-toggle {
        float: right;
        width: 50px;
        height: 50px;
        font-size: 2em;
        margin: 5px;
        border: none;
        cursor: pointer;
        background-color: #fff;
        color: rgb(3, 3, 113);
    }

    .sidebar{
        background-color: #fff;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        height: 100vh;
        width: 75%;
        transform: translate(-100%);
    }

    /*javascript implementation*/

    .show-sidebar{
        transform: translate(0);
        transition: 1s;
    }

    .sidebar-header{
        display: flex;
        justify-content: space-between;
    }

    .sidebar-header img{
        width: 200px;
        padding: 10px;
    }

    .sidebar-header button{
        width: 50px;
        height: 50px;
        font-size: 2em;
        margin: 5px;
        border: none;
        background-color: #fff;
        color: darkred;
        cursor: pointer;
    }

    .links li {
        list-style: none;
        padding: 25px;
        padding-left: 10px;
        width: 100%;
    }
    
    .links li:hover {
        background-color: lightblue;
        transition: 1s;
        cursor: pointer;
        padding-left: 25px;
        width: 50%;
    }
    
    .links a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    .links a:visited {
        color: black;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 38vh;
    }
    
    .social-icons li {
        list-style: none;
        margin-right: 20px;
    }
    
    .social-icons a {
        color: rgb(3, 3, 113);
    }
    
    .social-icons a i:hover {
        color: black;
        transition: 0.5s;
    }
}

@media screen and (min-width: 800px) {
    .sidebar{
        display: flex;
        justify-content: space-between;
        background-color: beige;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .sidebar-toggle{
        display: none;
    }

    .sidebar-header img {
        width: 300px;
        padding: 10px;
    }

    .sidebar-header button{
        display: none;
    }

    .links {
        display: flex;
        align-items: center;
    }
    
    .links li {
        list-style: none;
        margin-right: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    
    .links a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    .links a:visited {
        color: black;
    }
    
    .links a:hover {
        color: rgb(75, 74, 74);
        transition: 0.5s;
    }
    
    .social-icons {
        display: flex;
        align-items: center;
    }
    
    .social-icons li {
        list-style: none;
        margin-right: 20px;
    }
    
    .social-icons a {
        color: rgb(3, 3, 113);
    }
    
    .social-icons a i:hover {
        color: black;
        transition: 0.5s;
    }
}